# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master  ]
  pull_request:
    branches: [ master  ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
     # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
          
          
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.2
          
    - name: Navigate to Workspace
      run: cd $GITHUB_WORKSPACE

    - name: Create Build Directory
      run: mkdir _build
    
    - name: Restore Packages
      run: nuget restore UI-Cropping-Image-Library/UI-Cropping-Image-Library.sln

    - name: Build Solution
      run: |
       msbuild.exe UI-Cropping-Image-Library/UI-Cropping-Image-Library.sln /p:platform="Any CPU" /p:configuration="Release"

    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
       name: EZRepBundle
       path: "./UI-Cropping-Image-Library/CroppingImageLibrary.SampleApp/bin/Release/"
     
    - name: Nuget Pack
      run: nuget pack ./UI-Cropping-Image-Library/CroppingImageLibrary/CroppingImageLibrary.csproj -Properties Configuration=Release

    - name: Nuget Push
      run: nuget push CroppingImageLibrary.1.0.1.nupkg ${{ secrets.NUGET_API_KEY }} -Source https://api.nuget.org/v3/index.json   

    - name: Show Content
      run: dir
      
    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
